body,
h1,
h2,
p,
ul {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk", sans-serif;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  justify-content: center;
  border-radius: 32px;
  box-shadow: 0px 20px 30px hsl(241, 81%, 54%, 0.1);
}
/* section result */
.result {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  border-radius: 32px;
  padding: 40px 58px;
  z-index: 9;
}
.result h1 {
  font-size: 1.5rem;
  line-height: 1.1em;
  font-weight: 700;
  color: hsl(241, 100%, 89%);
}
.result .score {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
}
.result .score .achieved-score {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.2em;
  color: hsl(0, 0%, 100%);
}
.result .score .max-score {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1em;
  color: hsl(241, 100%, 89%, 0.5);
  align-self: center;
}
.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.feedback-rating {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.feedback-text {
  font-size: 1.12rem;
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
  max-width: 25ch;
  color: hsl(241, 100%, 89%);
}
/* section summary */
.summary {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px;
  background: hsl(0, 0%, 100%);
  border-radius: 32px;
  box-shadow: -60px 0 0 0 hsl(0, 0%, 100%);
}
.summary h2 {
  color: hsl(224, 30%, 27%);
  font-size: 1.5rem;
}
.summary li {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  padding: 16px;
  font-size: 1.125rem;
  font-weight: 500;
}
.summary li:not(:last-child) {
  margin-bottom: 16px;
}
.summary li span {
  display: flex;
  align-items: center;
  color: hsl(224, 30%, 27%, 0.5);
  font-weight: 500;
}
.summary .category {
  margin-right: 80px;
}
.summary li span img {
  margin-right: 12px;
}
.summary li .achieved-score {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  margin-right: 8px;
}
.summary li .max-score {
  font-weight: 700;
}
.reaction {
  background: hsla(0, 100%, 67%, 0.05);
}
.reaction .category {
  color: hsl(0, 100%, 67%);
}
.memory {
  background: hsl(39, 100%, 56%, 0.05);
}
.memory .category {
  color: hsl(39, 100%, 56%);
}
.verbal {
  background: hsl(166, 100%, 37%, 0.05);
}
.verbal .category {
  color: hsl(166, 100%, 37%);
}
.visual {
  background: hsl(234, 85%, 45%, 0.05);
}
.visual .category {
  color: hsl(234, 85%, 45%);
}
.summary ul {
  margin-bottom: 20px;
}
.btn {
  font-family: inherit;
  border: none;
  background: hsl(224, 30%, 27%);
  border-radius: 28px;
  padding: 16px;
  color: hsl(0, 0%, 100%);
  font-size: 1.125rem;
  width: 100%;
}
.btn:hover {
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
