body,
h1,
h2,
p,
ul {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(221, 100%, 96%);
  font-family: "Hanken Grotesk", sans-serif;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  justify-content: center;
  border-radius: 32px;
  box-shadow: 0px 20px 30px hsl(241, 81%, 54%, 0.1);
}
/* section result */
.result {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  gap: 28px;
  align-items: center;
  border-radius: 32px;
  padding: 40px 58px;
  z-index: 9;
}
.result__title {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
  color: hsl(241, 100%, 89%);
}
.result__score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
}
.result__score-achieved {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.2;
  color: hsl(0, 0%, 100%);
}
.result__score-max {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
  color: hsl(241, 100%, 89%, 0.5);
}
.result__feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.result__feedback-rating {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.result__feedback-text {
  font-size: 1.12rem;
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
  max-width: 25ch;
  color: hsl(241, 100%, 89%);
}
/* section summary */
.summary {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px;
  background: hsl(0, 0%, 100%);
  border-radius: 32px;
  box-shadow: -60px 0 0 0 hsl(0, 0%, 100%);
}
.summary__title {
  color: hsl(224, 30%, 27%);
  font-size: 1.5rem;
}
.summary__list {
  margin-bottom: 20px;
}
.summary__item {
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  padding: 16px;
  font-size: 1.125rem;
  font-weight: 500;
}
.summary__item:not(:last-child) {
  margin-bottom: 16px;
}
.summary__category {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.summary__icon {
  margin-right: 12px;
}
.summary__score {
  display: flex;
  align-items: center;
}
.summary__score-achieved {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
  margin-right: 8px;
}
.summary__score-max {
  color: hsl(224, 30%, 27%, 0.5);
  font-weight: 700;
}
.summary__item--reaction {
  background: hsla(0, 100%, 67%, 0.05);
}
.summary__category--reaction {
  color: hsl(0, 100%, 67%);
}
.summary__item--memory {
  background: hsl(39, 100%, 56%, 0.05);
}
.summary__category--memory {
  color: hsl(39, 100%, 56%);
}
.summary__item--verbal {
  background: hsl(166, 100%, 37%, 0.05);
}
.summary__category--verbal {
  color: hsl(166, 100%, 37%);
}
.summary__item--visual {
  background: hsl(234, 85%, 45%, 0.05);
}
.summary__category--visual {
  color: hsl(234, 85%, 45%);
}
.summary__button {
  font-family: inherit;
  border: none;
  background: hsl(224, 30%, 27%);
  border-radius: 28px;
  padding: 16px;
  color: hsl(0, 0%, 100%);
  font-size: 1.125rem;
  width: 100%;
}
.summary__button:hover {
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
@media (max-width: 800px) {
  body {
    align-items: flex-start;
  }
  .container {
    flex-direction: column;
  }
  .result {
    border-radius: 0px 0px 32px 32px;
    padding: 32px 58px;
  }
  .result__title {
    font-size: 1.125rem;
  }
  .result__score {
    width: 160px;
    height: 160px;
  }
  .result__feedback-rating {
    font-size: 1.5rem;
  }
  .result__feedback-text {
    max-width: 30ch;
    font-size: 1rem;
  }
  .summary {
    gap: 12px;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0 -60px 0 0 hsl(0, 0%, 100%);
    padding: 28px;
  }
  .summary__title {
    font-size: 1.125rem;
  }
  .summary__list {
    margin-bottom: 12px;
  }
  .summary__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .summary__button {
    margin-bottom: 8px;
  }
}
