dt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: hsl(292, 42%, 14%);
  font-weight: 700;
  padding-top: 24px;
}
dd {
  font-size: 1rem;
  line-height: 1.3;
  color: hsl(292, 16%, 49%);
  font-weight: 400;
}
dt:not(:last-of-type),
dd:not(:last-of-type) {
  padding-bottom: 24px;
}
dt:not(:first-of-type) {
  border-top: 1px solid hsl(275, 100%, 97%);
}
dt.ativo .accordion-icon {
  content: url("../img/icon-minus.svg");
}
.js .js-accordion dd {
  display: none;
}
.js-accordion dd.ativo {
  display: block;
}
dt:hover {
  color: hsl(281, 83%, 54%);
  cursor: pointer;
}
