:root {
  --color-0: hsl(0, 0%, 100%);
  --color-1: hsl(30, 54%, 90%);
  --color-2: hsl(30, 18%, 87%);
  --color-3: hsl(30, 10%, 34%);
  --color-4: hsl(24, 5%, 18%);
  --color-5: hsl(14, 45%, 36%);
  --color-6: hsl(332, 51%, 32%);
  --color-7: hsl(330, 100%, 98%);
}
.color-0 {
  color: hsl(0, 0%, 100%);
}
.color-1 {
  color: hsl(30, 54%, 90%);
}
.color-2 {
  color: hsl(30, 18%, 87%);
}
.color-3 {
  color: hsl(30, 10%, 34%);
}
.color-4 {
  color: hsl(24, 5%, 18%);
}
.color-5 {
  color: hsl(14, 45%, 36%);
}
.color-6 {
  color: hsl(332, 51%, 32%);
}
.color-7 {
  color: hsl(330, 100%, 98%);
}
